@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Lato;
    color: #777777;
}

h3{
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;
}

h4{
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555555;
}

h5{
    font-family: Oswald;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    color: #555555;
}

h6{
    text-align: center;
    font-weight: bold;
}

.contact-button{
    background-color: #777777;
    border: 1px solid #777777;
    margin-bottom: 50px;
}

.contact-button:hover{
    background-color: #777777;
    border: 3px solid white;
}

/* ----- Header -----*/

#menu{
    font-size: 110%;
    font-family: Oswald;
    text-transform: capitalize;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 280%;
    line-height: 75px;
    margin-left: 20px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover{
    border-bottom: 1px solid rgb(243, 172, 80);
}

.active{
    border-bottom: 1px solid rgb(243, 172, 80);
}


/* -----Nav Bar----- */
.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: gray; 
}

.navbar .navbar-toggler {
    border: 0;
}


/* ----- Hero Image -----*/

.callout-container {
    height: 500px;
    width: 100%;

    background: no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

#hero-image{
    height:500px;
    width: 100%;
    background: url("../images/southbay-1.jpg") no-repeat center center;
    background-size: cover;
  
    
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer{
    height:500px;
    width: 100%;
    overflow: hidden;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}


/* -----Specialists -----*/

.container-specialists {
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}

.specialist-header {
    text-align: center;
    padding-bottom: 50px;
}

.p-text {
    text-align: left;
}

.brokers {
    text-align: center;

}

.team-pic {
    align-content: center;
}


/* -----Footer----- */

.container-wrapper--gray {
    background-color: #6c757d;
    color: white;
}

.container-wrapper--gray h4 {
    color: white;
}

#footer-details {
    padding-top: 30px;
    text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: rgb(243, 172, 80);
}

.buyingbasics i {
    color: white;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.buyingbasics i:hover {
    color: rgb(243, 172, 80);
}

.resources-link {
    color: white;
}

.resources-link:hover {
    color: rgb(243, 172, 80);
}

/* -----Featured Listings Page----- */
.listings {
    text-align: center;
    padding-bottom: 60px;
}

.details-header {
    font-weight: bold;
    color: rgb(243, 172, 80);
}

.prop-details {
    text-align: left;
}

/* -----Mortgage Calculator Page-----*/
.calc-widget {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 60px;
}


/* -----Mortgage Calculator Page-----*/

